.App {
  text-align: center;
}
/* background-image: url('./background.jpg'); */
body {
  margin: 0;
  
  background: url('https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680_960_720.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
   
  
}

.logo:hover {
	background-color: blue
	/* barbel colors: green #9CC055,blue #399CE9; yellow; #FFE633; */
}
header,footer {
  height: 15vh;
  background-color: yellow;
}

.main {
  height: 70vh;
}

button {
  padding: 10px;
  font-weight: bold;
  border-radius: 20%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
}

a {
  align-self: center;
}

#symbol,h3 {
  padding:10px;
  align-self: center;
  font-size: 26px;
  font-weight: bolder;
}

.weather-card{
  color: black;
  line-height: 0.5em;
  letter-spacing: 0.8px;
  word-spacing: 1.2px;
  font-weight: 1.2em;;
  
}
#temp {
  font-size: 1.4em;
  font-family: "Lucida Console", Monaco, monospace;
}
.wi {
  font-size: 2em;
}
.weather-card {
  border-radius: 72px 71px 74px 72px;
  -moz-border-radius: 72px 71px 74px 72px;
  -webkit-border-radius: 72px 71px 74px 72px;
  border: 2px solid #000000;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 66px 10px 133px 31px rgba(0,0,0,0.68);
  -moz-box-shadow: 66px 10px 133px 31px rgba(0,0,0,0.68);
  box-shadow: 66px 10px 133px 31px rgba(0,0,0,0.68);

}

.weather-box {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forecast {
  display: flex;
  flex-direction: row;
  
}