* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
} 

.App {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

body {
  margin: 0 auto;
  background: url('./background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Questrial', sans-serif;
}

header,footer {
  min-height: 15vh;
  background-color: #278ccb2b
}

main {
  min-height: 60vh;
  overflow: scroll;
}

hr {
  border-style: solid;
  border-color: cornflowerblue;
  width:20vw;
}

.logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 10px;
}

.logo:hover {
  background-color: #f8ffb657;
  
}

.search-btn {
  background: none;
  border: none;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
  border-radius:28px;
  

  margin: 10px;
  padding:16px 31px;

  cursor:pointer;
  min-height: 100%;
  color: white;
	
	font-family: Questrial;
  font-size:20px;
  font-weight: bolder;
	text-shadow:0px 1px 0px #1c3e70;
}

.search-btn:hover {
	background-color: #3f739465
}

.search-btn:active {
  background-color:#0c3c5c;
}

form {
  padding: 10px;
}

input[type=text] {
  width: 30%;
  padding: 8px 8px;
  border-radius: 30px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  font-weight: bold;
}

#symbol {
  padding:10px;
  font-size: 26px;
  font-weight: 900;
}

footer p {
  padding:10px;
  font-size: 1.3em;
  font-weight: 900;
}

.temperature {
  font-size: 1.4em;
  font-family: "Lucida Console", Monaco, monospace;
  align-self: center;
}

.weather-card canvas {
  align-self: center;
}

.weather-card canvas, .hourly-card canvas {
  height: 90px;
  width: 90px;
}

.card {
  border-radius: 72px 71px 74px 72px;
  -moz-border-radius: 72px 71px 74px 72px;
  -webkit-border-radius: 72px 71px 74px 72px;

  border: 2px solid #000000;

  color:black;
  padding: 15px;
  margin: 15px;
  
  -webkit-box-shadow: 21px 18px 28px 21px rgba(0,0,0,0.68);
  -moz-box-shadow: 21px 18px 28px 21px rgba(0,0,0,0.68);
  box-shadow: 21px 18px 28px 21px rgba(0,0,0,0.68);
}

.top-card {
  border-radius: 72px 71px 74px 72px;
  -moz-border-radius: 72px 71px 74px 72px;
  -webkit-border-radius: 72px 71px 74px 72px;
  background-color: rgba(240, 248, 255, 0.5);
  border: 2px solid #000000;
  color:black;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  
  width: 60vw;
  margin: 15px;
}

.error-card {
  background-color:#fbff00b8;
}
#forecast {
  background-color: darkkhaki;
  border: 1px solid yellow;
  color: black;

}
.weather-card {
  letter-spacing: 0.8px;
  word-spacing: 1.8px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: rgba(240, 248, 255, 0.1);
  min-width: 60vw;
}

.buttons {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.hourly-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  box-shadow: 7px 6px 6px 7px rgba(0,0,0,0.68);
  background-color: rgba(240, 248, 255, 0.253);
  font-size: 22px;
  width: 280px;
}

.daily-card {
  box-shadow: 7px 6px 6px 7px rgba(0,0,0,0.68);

  letter-spacing: 0.8px;
  word-spacing: 1.2px;
  font-weight: 1.2em;
 
  background-color: rgba(240, 248, 255, 0.378);
  backdrop-filter: blur;
  font-size: 20px;
  font-weight: bold;
  min-width: 420px;
  
}
.summary-card {
  background-color: rgba(240, 248, 255, 0.255) !important;

}
.weather-box {
  min-height: 70vh;
}

.forecast {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weekly-list {
  overflow-x: scroll;
  max-width: 98vw;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

} 

.weekly-list::-webkit-scrollbar {
  height: 2em;
}

.weekly-list::-webkit-scrollbar-track {
  background-color: #396286;
  border-radius: 20px;
}

.weekly-list::-webkit-scrollbar-thumb:horizontal {
background-color: #042957;
outline: 1px solid rgb(32, 46, 248);
border-radius: 20px;
}

/* Iphone X and Pixel 2 */
@media only screen
and (max-width: 600px) {
  
  .daily-card {
    min-width: 80vw;
  }
  .search-btn {
    padding: 10px;
  }
  .hourly-card canvas {
    height: 50px;
    width: 50px;
  }
  
  .hourly-card {
    height: 20vh;
    width: 40vw;
    align-content: space-evenly;
    line-height: 2px;
    
  }
  .hourly-list {
    flex-wrap: nowrap
  }
  input[type=text] {
    width: auto;
  }
}

/* Desktop/Laptop/Tablet */
@media only screen
and (min-width: 601px) {
	.header {
		height: 70px;
  }
  
  
}

/* Galaxy Note 9 */
@media screen
and (max-width: 768px)
and (min-height: 700px) {
	.daily-card {
    min-width: 80vw;
  }
  .daily-card img {
    width: 70px;
    height: 70px;
    margin: 20px

  }
  .search-btn {
    padding: 10px;
    font-size:17px;
  }
  weekly-list {
    height: 80vh;

  }
}
@media screen
and (max-width: 320px) {
  .hourly-card {
    height: 150px;
    width: 150px;
  }
  .daily-card {
    min-width: 80vw;    
  }
  .daily-card img,canvas {
    height:40px;
    width: 40px;
  }
  .daily-card img {
    margin: 5px;
  }
  .search-btn {
    padding: 10px;
    font-size:17px;
  }
}

@media screen
and (max-width: 420px)
and (min-height: 800px) {
  
  .daily-card {
    min-width: 80vw;
  }
  .daily-card img,canvas {
    height: 80px;
    width: 80px;
  }
  .search-btn {
    padding: 10px;
    font-size:17px;
  }
}
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1340px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .daily-card,.weather-card {
      min-width: 40vw; 
      
    }
    .daily-card canvas {
      height: 80px;
    }
    .daily-card img {
      width: 70px;
      height: 70px;
      margin: 20px
    }
    .weekly-list {
      height: 80vh;
    }
    
    

}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .weekly-list {
      height: 80vh;
    }
    .daily-card {
      min-width: 40vw; 
      max-height: 60vh;
    }
    
    .hourly-card {
      min-height: 10vh;
      max-width: 20vh; 
    }
}

